@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    transition: all 0.2s ease-in;
}

.title_wash {
    font-family: "Poppins", sans-serif;
    color: #121158;
    padding-top: 2rem;
}

.subtitle_wash {
    font-family: "Poppins", sans-serif;
    color: #293f73;
}

.img_wash {
    padding: 2rem;
}


/*------card_phone-------*/

.app-wrapper {
    padding: 100px 130px;
    border-radius: 10px;
    margin-top: 100px;
    padding: 100px 130px;
    border-radius: 10px;
    margin-top: 100px;
}

.app-bg {
    background: linear-gradient(to right, #1e0c9d, #06cdec);
    border-radius: 1rem;
    padding: 2rem;
}

.app-wrap h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.app-wrap p {
    color: #eee;
}

.app-wrap .app-phone {
    float: right;
    position: absolute;
}

.img-phone {
    vertical-align: middle;
    border-style: none;
    width: auto;
    transform: translateY(-9rem);
}

@media (max-width: 960px) {
    .img-phone {
        transform: translateY(1rem);
    }
}

.app-wrap-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem 4rem 4rem;
}

.section_news {
    padding: 60px;
}

.title_news {
    font-family: "Poppins", sans-serif;
    color: #121158;
    padding-top: 100px;
}

.subtitle_news {
    color: #293f73;
}

.footer-wraper {
    padding: 70px;
    background-color: #1b2a4e;
}

.bottom-logo {
    padding: 5px;
    line-height: 30px;
}

.social-share a {
    color: white;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: #293F73;
}

.social-share a:hover {
    background-color: #fff;
    transition: all 0.5s;
    color: #1b2a4e;
}

.parrafo_footer {
    font-size: 13px;
    color: #8686b5;
}

.copyright {
    margin: 0;
    font-size: 13px;
    color: #8686b5;
}

span {
    color: white;
}

.lower-footer {
    background-color: #1b2a4e;
}

.widget-title {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.bottom-widget {
    font-size: 13px;
    color: #8686b5;
    line-height: 1.75;
}

.bottom-widget li {
    list-style: none;
}

.bottom-widget a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: #8686b5;
    line-height: 3;
}

.parrafo_news {
    color: #121158;
    font-weight: 700;
}

.item_news {
    color: #3639AE;
    font-weight: bold;
}

.card-body {
    line-height: 3;
}

.post-meta {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.bi-chat-left {
    color: gray;
    padding-right: 10px;
}

.bi-stopwatch {
    color: gray;
    padding-right: 10px;
}

.item_new {
    color: gray;
}

.spreads {
    margin-top: 5%;
}

.title {
    color: #121158;
    font-family: "Poppins", sans-serif;
    margin-top: 10%;
}

.title2 {
    color: #293f73;
    font-size: 53px;
    font-weight: 680;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

.imagen {
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 30px 60px rgba(132, 132, 167, 0.45);
}

img {
    height: 100%;
    width: 100%;
}

.content {
    background: #fff;
    box-shadow: 0px 30px 60px rgba(160, 159, 202, 0.45);
    padding: 30px;
    border-radius: 0 0 10px 10px;
    position: relative;
    margin-top: 0px;
}

.content h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px !important;
    color: #121158;
    font-family: "Poppins", sans-serif;
}

.content p {
    font-size: 16px;
    color: #515184;
    font-family: "Poppins", sans-serif;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3639AE;
    --secondary: #673BB7;
    --success: #10d876;
    --info: #2754e6;
    --warning: #FE9431;
    --danger: #E50202;
    --light: #F8F9FE;
    --dark: #262F5A;
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background: aliceblue;
}

.bg-blue-primary {
    background-color: #3639AE !important;
}

.text-blue-primary {
    color: #3639AE !important;
}

.text-blue-secondary {
    color: #673BB7 !important;
}

.text-blue-dark {
    color: #262F5A !important;
}

.front {
    z-index: 100;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(30, 12, 124, 0.75), rgba(6, 205, 236, 0.75)), url(../images/3626307.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.btn-nav {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

#mynav {
    transition: all 0.3s ease-in;
}


/* .header ::before {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, #1e0c9d, #06cdec);
    opacity: .10;
    z-index: -1;
 }  */

@media (max-width: 1450px) {
    .header {
        height: 850px;
    }
}

@media (max-width: 1200px) {
    .header {
        height: 900px;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 950px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 1200px;
    }
}

@media (max-width: 450px) {
    .header {
        height: 1100px;
    }
}

img {
    height: 100%;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo img {
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.2rem;
}

.rotate {
    animation: rotation 6s infinite linear;
}

.text-banner {
    font-size: 1.1rem;
}

.card-banner {
    width: 20rem;
}


/* .btn-circle-content {

} */

.btn-circle-content {
    position: fixed;
    z-index: 1000;
    bottom: 1rem;
}

.btn-circle {
    margin: 0.3rem 0;
    margin-left: -3rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

@media (max-width: 640px) {
    .btn-circle {
        margin-left: 0;
    }
}

.btn-circle:hover {
    transition: 0.2s ease-in;
    width: 10rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.btn-circle i {
    color: #e1e1e1;
}

.bg-orange {
    background-color: var(--orange);
}

.bg-blue {
    background-color: var(--teal);
}

.bg-green {
    background-color: var(--green);
}

.bg-gray-tracker {
    background-color: aliceblue !important;
}

.banner {
    padding-top: 10rem;
}

.banner-left img {
    height: 55%;
    width: auto;
}

@media(max-width: 640px) {
    .banner-left img {
        margin-top: 2rem;
    }
}


/* @media (mix-width:1440px) {
    .banner-left img {
        height: 55% !important;
        width: auto;
    }
}
@media (max-height: 990px) {
    .banner-left img {
        height: 45%;
        width: auto;
    }
} */

.symptom img {
    width: auto;
}

.prevent img {
    width: auto;
}

@media (max-width: 450px) {
    .banner-left img {
        height: 40%;
    }
}

.symptom {
    background: aliceblue;
}

.symptom img {
    height: 6.2rem;
}

.slide {
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}

.prevent {
    background-color: #f0f0f0 !important;
}

.prevent-card {
    width: 600px;
    height: 300px;
}

.prevent-card-img {
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
}

.prevent img {
    height: 8rem;
    width: 7rem;
}

.hexagon {
    position: relative;
    width: 150px;
    height: 86.60px;
    background-color: #64C7CC;
    margin: 43.30px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 43.30px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 43.30px solid #64C7CC;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.probando {
    cursor: pointer;
}

.probando p {
    display: none;
}

.active {
    display: inline-block !important;
}

.faq {
    background: url(../images/slide-1.jpg) center center/cover no-repeat local;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 5%;
}

.faq:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, #1e0c9d, #06cdec);
    opacity: 0.95;
}

.faq .container {
    position: relative;
    z-index: 2;
}

.panel {
    background-color: rgba(30, 12, 157, 0.5);
    padding: 20px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.4s linear !important;
}

.panel-title a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin-bottom: 8px;
}

.panel-body p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.active {
    display: inline-block !important;
}

.panel-body {
    display: none;
}


/*# sourceMappingURL=styles.css.map */


/* *********************************************************************** */


/* Styles Traker */


/* *********************************************************************** */

.logo-traker {
    height: 3.4rem;
    width: 3.4rem;
}

.bar-tracker {
    border-right: solid 0.12rem lightgrey;
}

.icon-track {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem 1.3rem;
}

.icon-track:hover {
    background-color: #3639AE;
    color: white !important;
}

.btn-circle-track {
    margin-left: 1.2rem;
}

.nav-info {
    border-right: solid 0.12rem lightgrey;
}

.text-orange {
    color: orange;
}
.text-darkred {
    color: darkred;
}

.bg-tracker-pink {
    background-color: #fff2f2;
}

.bg-tracker-pink2 {
    background-color: #fff9f1;
}

.bg-tracker-green {
    background-color: #edffec;
}

.bg-tracker-blue {
    background-color: #eefbff;
}

.bg-aliceblue {
    background-color: aliceblue;
}

.letter-button-tracker {
    font-size: 0.8rem !important;
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.img-countries {
    width: 2.5rem;
    height: 2rem;
}

.countries {
    transition: all 0.1 ease-in;
}

.countries:hover {
    transform: scale(1.030);
    transition: all 0.3 ease-in;
}

.total-case {
    transition: all 0.3 ease-in;
}

.total-case:hover {
    border: solid 0.15rem red !important;
    transform: scale(1.050);
    transition: all 0.3 ease-in;
}

.active-case {
    transition: all 0.3 ease-in;
}

.active-case:hover {
    border: solid 0.15rem orange !important;
    transform: scale(1.050);
    transition: all 0.3 ease-in;
}

.recovered-case {
    transition: all 0.3 ease-in;
}

.recovered-case:hover {
    border: solid 0.15rem green !important;
    transform: scale(1.050);
    transition: all 0.3 ease-in;
}

.deaths-case {
    transition: all 0.3 ease-in;
}

.deaths-case:hover {
    border: solid 0.15rem blue !important;
    transform: scale(1.050);
    transition: all 0.3 ease-in;
}

@media(max-width: 1200px) {
    .nav-info {
        display: none;
    }
}

.card-animation {
    transition: all 0.5 ease-in;
}

.card-animation:hover {
    transform: translateY(-0.5rem);
    transition: all 0.5 ease-in;
}

.card-total-cases {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.card-total-cases img{
  width: 8.5rem;
  height: 8.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0.15;
  transform: translate(1.5rem, -2rem);
}

.card-total-cases img:hover {
    animation: rotation 6s infinite linear;
}

.card-animation02:hover img {
    animation: rotation 6s infinite linear;
}
