@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$blue_title: #121158;
$blue_subtitle: #293f73;
$spacer: 2rem;
$spacer_card: 4rem;

.title_wash {
  font-family: "Poppins", sans-serif;
  color: $blue_title;
  padding-top: $spacer;
}

.subtitle_wash {
  font-family: "Poppins", sans-serif;
  color: $blue_subtitle;
}

.img_wash {
  padding: $spacer;
}

/*------card_phone-------*/

.app-wrapper {
  background: linear-gradient(to right, #1e0c9d, #06cdec);
  padding: 100px 130px;
  border-radius: 10px;
  margin-top: 100px;
}

.app-wrap h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.app-wrap p {
  color: #eee;
}

.app-wrap .app-phone {
  float: right;
  position: absolute;
}

.img-phone {
  vertical-align: middle;
  border-style: none;
  width: auto;
}

.section_news {
  padding: 60px;
}

.title_news {
  font-family: "Poppins", sans-serif;
  color: $blue_title;
  padding-top: 100px;
}

.subtitle_news {
  color: $blue_subtitle;
}

.footer-wraper {
  padding: 70px;
  background-color: #1b2a4e;
}
.bottom-logo {
  padding: 5px;
  line-height: 30px;
}

.social-share a {
  color: white;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  background-color: #293f73;
}

.social-share a:hover {
  background-color: #fff;
  transition: all 0.5s;
  color: #1b2a4e;
}

.parrafo_footer {
  font-size: 13px;
  color: #8686b5;
}

.copyright {
  margin: 0;
  font-size: 13px;
  color: #8686b5;
}

span {
  color: white;
}

.lower-footer {
  background-color: #1b2a4e;
}

.widget-title {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.bottom-widget {
  font-size: 13px;
  color: #8686b5;
  line-height: 1.75;
}

.bottom-widget li {
  list-style: none;
}

.bottom-widget a {
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #8686b5;
  line-height: 3;
}

.parrafo_news {
  color: $blue_title;
  font-weight: 700;
}

.item_news {
  color: #3639ae;
  font-weight: bold;
}

.card-body {
  line-height: 3;
}

.post-meta {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.bi-chat-left {
  color: gray;
  padding-right: 10px;
}
.bi-stopwatch {
  color: gray;
  padding-right: 10px;
}

.item_new {
  color: gray;
}

.mysass {
  color: #007bff;
}
.spreads {
  margin-top: 5%;
}

.title {
  color: #121158;
  font-family: "Poppins", sans-serif;
}

.title2 {
  color: #293f73;
  font-size: 53px;
  font-weight: 680;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

.imagen {
  margin-top: 50px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0px 30px 60px rgba(132, 132, 167, 0.45);
}

img {
  height: 100%;
  width: 100%;
}

.content {
  background: #fff;
  box-shadow: 0px 30px 60px rgb(160 159 202 / 45%);
  padding: 30px;
  border-radius: 0 0 10px 10px;
  position: relative;
  margin-top: 0px;
}

.content h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px !important;
  color: #121158;
  font-family: "Poppins", sans-serif;
}

.content p {
  font-size: 16px;
  color: #515184;
  font-family: "Poppins", sans-serif;
}

.faq {
  background: url(../images/slide-1.jpg) center center/cover no-repeat local;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 5%;
}

.faq:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, #1e0c9d, #06cdec);
  opacity: 0.95;
}

.faq .container {
  position: relative;
  z-index: 2;
}

.panel {
  background-color: rgba(30, 12, 157, 0.5);
  padding: 20px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

.panel-title a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

.panel-body p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.active {
  display: inline-block !important;
}

.panel-body {
  display: none;
}
