<<<<<<< HEAD
$blue: #007bff;

.mysass {
  color: $blue;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.spreads {
    margin-top: 5%;
}

.title {
    color: #121158;
    font-family: 'Poppins', sans-serif;
}

.title2 {
    color: #293f73;
    font-size: 53px;
    font-weight: 680;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.imagen {
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 30px 60px rgba(132, 132, 167, 0.45);
}

img {
    height: 100%;
    width: 100%;
}

.content {
    background: #fff;
    box-shadow: 0px 30px 60px rgb(160 159 202 / 45%);
    padding: 30px;
    border-radius: 0 0 10px 10px;
    position: relative;
    margin-top: 0px;
}

.content h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px !important;
    color: #121158;
    font-family: 'Poppins', sans-serif;
}

.content p {
    font-size: 16px;
    color: #515184;
    font-family: 'Poppins', sans-serif;
}

.faq {
    background: url(../images/slide-1.jpg) center center/cover no-repeat local;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 5%;
}

.faq:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, #1e0c9d, #06cdec);
    opacity: .95;
}

.faq .container {
    position: relative;
    z-index: 2;
}

.panel {
    background-color: rgba(30, 12, 157, 0.5);
    padding: 20px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.panel-title a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
}

.panel-body p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.active {
    display: inline-block !important;
}

.panel-body {
    display: none;
}
>>>>>>> 83855dbd2691adac19ccdc68a0cb935fc4711d79
